:root {
	--color-text: hsl(200, 15%, 8%);
	--color-backgorund: hsl(0, 0%, 98%);
	--color-elements: hsl(0, 0%, 100%);
	--color-hover-text: hsl(0, 0%, 98%);
	--color-hover-background: hsl(200, 15%, 8%);
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body {
	font-family: 'Nunito Sans', sans-serif;
	font-size: 14px;
	background-color: var(--color-backgorund);
}
body.dark {
	--color-elements: hsl(209, 23%, 22%);
	--color-backgorund: hsl(207, 26%, 17%);
	--color-text: hsl(0, 0%, 100%);
	--color-hover-text: hsl(200, 15%, 8%);
	--color-hover-background: hsl(0, 0%, 98%);
}

main {
	max-width: 1280px;
	margin: 0 auto;
	padding: 0 1.2em;
}
header {
	background-color: var(--color-elements);
	margin-bottom: 32px;
}
.header-content {
	max-width: 1280px;
	display: flex;
	justify-content: space-between;
	margin: 0 auto;
	padding: 32px;
	color: var(--color-text);
}
.dark-btn {
	background: none;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	font-size: 18px;
	padding: 0 15px;
	color: var(--color-text);
	transition: color 0.3s, background 0.3s;
}
.dark-btn:hover {
	color: var(--color-hover-text);
	background: var(--color-hover-background);
	.fa-moon {
		color: var(--color-hover-text);
	}
}

.filters {
	display: none;
}
.filters.active {
	display: flex;
	max-width: 1280px;
	margin: 0 auto;
	padding: 0 1em;
	justify-content: space-between;
	margin-bottom: 30px;
}
#query {
	width: 400px;
	padding: 15px 60px;
	border-radius: 5px;
	border: none;
	color: var(--color-text);
	background-color: var(--color-elements);
	box-shadow: 24px 28px 22px -28px rgba(66, 68, 90, 1);
}
#query::placeholder {
	color: var(--color-text);
}
.fa-magnifying-glass {
	position: relative;
	right: -35px;
	color: var(--color-text);
}
.fa-moon {
	margin-right: 10px;
	color: var(--color-text);
	transition: color 0.4s;
}
#region {
	padding: 10px;
	border: none;
	border-radius: 5px;
	background-color: var(--color-elements);
	color: var(--color-text);
}

ul {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	gap: 60px;
	list-style: none;
}
li {
	border-radius: 10px;
	overflow: hidden;
}
li a {
	color: var(--color-text);
	text-decoration: none;
}
li img {
	aspect-ratio: 160/98;
	width: 100%;
}
.info-container {
	padding: 30px 20px;
	background-color: var(--color-elements);
	height: 60%;
}
.country-name {
	display: block;
	font-size: 18px;
	margin-bottom: 10px;
}

@media only screen and (max-width: 1200px) {
	ul {
		grid-template-columns: 1fr 1fr 1fr;
	}
}
@media only screen and (max-width: 600px) {
	h1 {
		font-size: 18px;
	}
	.header-content {
		padding: 24px 12px 12px;
	}
	.dark-btn {
		font-size: 14px;
	}
	ul {
		grid-template-columns: 1fr;
	}
	.filters {
		flex-direction: column;
		margin-bottom: 30px;
	}

	#query {
		width: 250px;
		padding: 10px 20px;
		margin-bottom: 30px;
	}
	.fa-magnifying-glass {
		position: relative;
		right: -20px;
	}
}
.detail-back-link {
	display: inline-block;
	color: var(--color-text);
	box-shadow: 0px 0px 10px -5px rgba(66, 68, 90, 1);
	border-radius: 5px;
	text-decoration: none;
	padding: 5px 25px;
	margin: 20px 10px;
	background: var(--color-elements);
}
.info-box {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	margin-top: 50px;
	color: var(--color-text);
}
.detail-container {
	display: flex;
	flex-direction: column;
}
.country-name {
	font-size: 24px;
}
.boxes {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	font-size: 16px;
	margin-bottom: 20px;
}
@media only screen and (max-width: 600px) {
	header {
		margin-bottom: 10px;
	}
	.info-box {
		flex-direction: column;
		line-height: 30px;
		margin-top: 10px;
		img {
			max-width: 100%;
		}
	}
	.boxes {
		display: block;
		flex-direction: column;
		align-content: space-between;
	}
	.detail-back-link {
		padding: 0;
	}
}
@media (prefers-color-scheme: dark) {
	body {
		--color-elements: hsl(209, 23%, 22%);
		--color-backgorund: hsl(207, 26%, 17%);
		--color-text: hsl(0, 0%, 100%);
		--color-hover-text: hsl(200, 15%, 8%);
		--color-hover-background: hsl(0, 0%, 98%);
	}
	body.light {
		--color-text: hsl(200, 15%, 8%);
		--color-backgorund: hsl(0, 0%, 98%);
		--color-elements: hsl(0, 0%, 100%);
		--color-hover-text: hsl(0, 0%, 98%);
		--color-hover-background: hsl(200, 15%, 8%);
	}
}
